<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Корзина</h1>
<ul>
    {%for item in pizzas_in_cart %}
    <li>
        <h3>{{item.pizza.name}}</h3>
        <p>Количество продуктов:{{item.quantity}}</p>
        <p>Цена:{{item.quantity}}x{{item.pizza.price}}</p>
        <p>{{item.total_price}}</p>
        <form method="post" action="{% url 'remove_from_cart' item.pizza.id%}">
            {%csrf_token%}
            <button type="submit">Удалить</button>
        </form>


    </li>
    {%endfor%}

</ul>

<h3>ОБЩАЯ СУММА


{{total_price}}

</h3>
<a href="/">ОФОРМИТЬ ЗАКАЗ</a>

</body>
</html>