<!DOCTYPE html>
<html>
<head>
    <title>Меню пицц</title>
</head>
<body>
    <h1>Меню</h1>
    <ul>
        {% for pizza in pizzas %}
        <li>
            <h2>{{ pizza.name }}</h2>
            <p>{{ pizza.description }}</p>
            <p>Цена: {{ pizza.price }} руб.</p>
            <form method="post" action="{% url 'add_to_cart' pizza.id %}">
                {% csrf_token %}
                <button type="submit">Добавить</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'cart' %}">корзина</a>
</body>
</html>